<%= simple_form_for @movie, html: { multipart: true } do |f| %>
  <% if @movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% @movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :title %>
  </div>

  <div class="field">
    <!-- <%= f.input :image %> -->
    <%= image_tag(@movie.image_url(:thumb)) if @movie.image? %>
    <% unless @movie.image? %>
      <%= f.input :image %>
    <% end %>
      <%= f.hidden_field :image_cache, as: :image %>
  </div>

  <div class="field">
    <%= f.input :description %>
  </div>
  <div class="field">
    <%= f.input :movie_length %>
  </div>
  <div class="field">
    <%= f.input :director %>
  </div>
  <div class="field">
    <%= f.input :rating %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
